{{> header }}
<p>A secure way to send your documents to Hackney Council.</p>
<section>
  <h2>1. Upload your documents</h2>
  <p>Upload documents one at a time, and describe what each one is.
  </p>
  {{#if dropbox.hasUploads }}
  <h3>Your uploaded Documents:</h3>
  <ul id="uploads">
    {{#each dropbox.uploads }}
    <li>
      <div class="container">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            {{inc @index}}.
          </div>
          <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            <a href="/dropboxes/{{../dropboxId}}/files/{{this.id}}" target="_blank">{{this.filename}}</a>
            {{#if this.description }} - {{this.description}}{{/if }}
          </div>
          <div>
            <form method="POST" action="/dropboxes/{{ ../dropboxId }}/files/{{ this.id }}"
              onSubmit="javascript: return confirm('Are you sure you want to delete this document?');">
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <hr>
  <h3>Add another document:</h3>
  {{/if }}
  <form action="{{ secureUploadUrl }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      {{#each secureUploadFields}}
      <input type="hidden" name="{{@key}}" value="{{this}}" />
      {{/each}}
      <input type="hidden" name="key" value="{{dropboxId}}/{{secureDocumentId}}/${filename}" />
      <input type="hidden" name="X-Amz-Server-Side-Encryption" value="AES256" />
      <div class="form-group">
        <label for="x-amz-meta-description">What is this document?</label>
        <select class="form-control" id="x-amz-meta-description" name="x-amz-meta-description"
          data-testid="doc-description">
          <option>Council Tax letter</option>
          <option>Proof of Address</option>
          <option>Proof of Birth</option>
          <option>Other</option>
        </select>
      </div>
      <label for="file">Select file</label>
      <input type="file" class="form-control" id="file" name="file" required />
    </div>
    <div class="form-group">
      <button type="submit" id="uploadFile" class="btn btn-block btn-lg btn-primary">Upload Document</button>
    </div>
  </form>
</section>
{{#if dropbox.hasUploads }}
<section>
  <h2>2. Add your child's details:</h2>
  <form action="" method="POST">
    <div class="form-group">
      <label for="firstName">Child’s First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" required />
    </div>
    <div class="form-group">
      <label for="lastName">Child’s Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" required />
    </div>

    <div class="form-group">
      <label for="dob">Child's date of birth</label>
      <input type="date" class="form-control" id="dob" name="dob" required />
    </div>
    <div class="form-group">
      <label for="parentsEmail">Parent's email</label>
      <input type="email" class="form-control" id="parentsEmail" name="parentsEmail" required />
    </div>

    <div class="form-group top-border">
      <label for="description">Notes</label>
      <textarea class="form-control" id="description" name="description" rows="3"
        placeholder='Give a reason for uploading the documents, eg. "to apply for change of circumstance"'></textarea>
    </div>
    <div class="form-group">
      <button type="submit" id="submitDropbox" class="btn btn-block btn-lg btn-primary">Submit Documents</button>
    </div>
  </form>
</section>
{{/if }}
{{> footer isStaff=false }}