{{> header isProd=isProd feedbackFormUrl=feedbackFormUrl }}
{{#if isStaff }}
<a href="/dropboxes" data-testid="dropbox-list-return-link">
  << Back to all dropboxes</a> {{/if }}
    <div id="dropboxContents" data-testid="dropbox-details">
      <strong>Child's name:</strong>
      <p>{{ dropbox.customer.firstName }} {{ dropbox.customer.lastName }}</p>
      <strong>Date of birth:</strong>
      <p data-testid="dob-value">{{dateFormatNoTime dropbox.customer.dob }}</p>
      <strong>Parent's email:</strong>
      <p data-testid="parents-email-value">{{ dropbox.customer.parentsEmail }}</p>
      <strong>Notes:</strong>
      <p>{{ dropbox.description }}</p>
      {{#if dropbox.hasUploads }}
      <strong>Uploaded Documents:</strong>
      <ol>
        {{#each dropbox.uploads }}
        <li>
          <a href="/dropboxes/{{../dropboxId}}/files/{{this.id}}" target="_blank">{{this.filename}}</a>
          {{#if this.description }} - {{this.description}}{{/if }}
        </li>
        {{/each}}
      </ol>
      {{/if }}
    </div>
    <strong>Submitted on:</strong>
    <p>{{dateFormat dropbox.submitted}}</p>
    {{#if isStaff }}
    {{#if dropbox.archived}}
    <strong>
      <p data-testid="archive-status-test">Status: Archived </p>
    </strong>
    <form method="POST" action="/dropboxes/{{dropboxId}}/archive">
      <input type="hidden" name="archiveStatus" value="" />
      <button class="btn btn-light" data-testid="unarchive-button-test">Unarchive</button>
    </form>
    {{else}}
    <strong>
      <p data-testid="archive-status-test">Status: To review</p>
    </strong>
    <form method="POST" action="/dropboxes/{{dropboxId}}/archive">
      <input type="hidden" name="archiveStatus" value="true" />
      <button class="btn btn-light" data-testid="archive-button-test">Move to archive</button>
    </form>
    {{/if}}
    {{else}}
    <a href="/restart" class="btn btn-block btn-lg btn-primary" role="button" id="startAgain">Start Again</a>
    {{/if }}
    {{> footer isStaff }}